/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #28a745;
  color: white;
  text-align: center;
  padding: 20px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1,
h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #218838;
}

.booking-details ul {
  list-style-type: none;
  padding: 0;
}

.booking-details li {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #28a745;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  main {
    padding: 10px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }
}
